{% include 'header.html' %}
<form method="POST" action="/update" enctype="multipart/form-data">
  <div class="card">
    <div class="card-header">
      Modificar empleado
    </div>
    <div class="card-body">
      <p class="card-text">
        <input class="d-none" type="text" value="{{empleado.id}}" name="txtId" id="txtId" />
        <div class="form-group">
          <label for="txtNombre">Nombre</label>
          <input type="text" name="txtNombre" id="txtNombre" value="{{empleado.nombre}}" />
        </div>
        <div class="form-group">
          <label for="txtCorreo">Correo:</label>
          <input type="email" name="txtCorreo" id="txtCorreo" value="{{empleado.correo}}" />
        </div>
        <div class="form-group">
          <label for="txtFoto">Foto de perfil:</label>
          <img class="img-thumbnail" width="100" alt="foto de perfil" src="{{ url_for('uploads', nombreFoto=empleado.foto) }}">
          <input type="file" name="txtFoto" id="txtFoto" />
        </div>
        <div class="form-group">
          <input class="btn btn-success" type="submit" value="Modificar empleado" />
          <a class="btn btn-primary" href="{{ url_for('index') }}">Regresar</a>
        </div>
      </p>
    </div>
  </div>
</form>
{% include 'footer.html' %}